<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="auth/register" method="POST">
        <input type="text" placeholder="Nome" name="email">
        <input type="password" placeholder="Sobrenome" name="password">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>