* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  position: fixed;
  border: 1px solid #00000038;
  width: 20%;
  height: 100%;
}

.logo{
  margin-top: 10%;
  margin-bottom: 20%;
}

.logo-conteiner{
  margin-left: 30%;
  height: 20%;
}

.materialize-icon {
  display: inline-block;
  width: 37%;
  height: 100%;
}

.version{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  font-family: Inconsolata;
  text-align: center;
  line-height: 100px;
  font-size: 17px;
}

.fa-caret-down{
  color: rgb(119, 119, 119);
}

.version-link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  color: rgba(0,0,0,0.87);
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.version-link:hover{
  background: rgb(233, 233, 233, 0.68);
}

/* .version:after{
  content: '';
	width: 25%;
	height: 1px;
	background: #00000040;
	position: absolute;
  bottom: 25px;
  right: 135px;
} */

.fine-proxy {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.search {
  position: absolute;
  left: 0;
  right: 0;
  top: 160px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;
}

.search-div{
  color: #777;
  margin-top: 30px;
}

.search-input{
  color: #777;
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 84px;
  margin: 0;
  padding: 0 45px 0 30px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.14);
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.search-input:focus{
  outline: 0;
}

.fa-search{
  width: 100%;
  display: flex;
  position: absolute;
  align-content: center;
}

.item{
  position: relative;
  top: 100px;
  /*margin-top: 30px;*/
  display: block;
  height: 55px;
  padding: 0 30px;
  line-height: 44px;
  font-family: Inconsolata;
  font-size: 18px;
  font-weight: bold;
}

.link-item{
  text-decoration: none;
  display: block;
  color: rgba(0,0,0,0.87);
}

.link-item:hover{
  background: #DDD;
  transition: all 0.5s linear;
}

.sponsor{
  font-size: 80%;
  font-style: regular;
  font-family: 'Noto Serif', serif;
  color: white;
  width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  background: #ee6e73;
}

.fp-image{
  position: absolute;
  bottom: 0;
}

main {
  display: flex;
  position: absolute;
  left: 50%;
}

@font-face {
  font-family: Inconsolata;
  src: url('../fonts/Inconsolata/Inconsolata.ttf')
}